body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
footer {
    background-color: #35d68b;
    padding: 1rem;
    text-align: left;
}

h1 {
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 1rem;
}

.post {
    background-color: #35d68b;
    padding: 1rem;
    margin-top: 1rem;
}

.home {
    padding: 1rem;
}

.post_detail {
    max-width: 50vw;
}